<div class="row">
    <div class="col-md-12">
        <h2>{{ 'Nutriscore'|trans }}</h2>
    </div>
</div>
<div class="row">
    <fieldset class="col-md-4 form-group">
        <label class="form-control-label" for="yuka">
            {{ 'Nutriscore'|trans }}
        </label>

        <input type="text" class="form-control" name="nutriscore" id="yuka" value="{{ nutriscore }}" />
    </fieldset>
</div>
<div class="row">
    <fieldset class="col-md-4 form-group">
        <label class="form-control-label" for="yuka">
            {{ 'Yuka socre'|trans }}
        </label>

        <input type="text" class="form-control" name="yuka" id="yuka" value="{{ yuka }}" />
    </fieldset>
</div>


