<div class="row">
    <div class="col-md-12">
        <h2>{{ 'Nutriscore'|trans }}</h2>
    </div>
</div>
<div class="row">
    <fieldset class="col-md-4 form-group">
        <label class="form-control-label" for="combination_{{ id_product_attribute }}_yuka">
            {{ 'Nutrisore'|trans }}
        </label>

        <input type="text" class="form-control" name="combination_{{ id_product_attribute }}[nutriscore]" id="combination_{{ id_product_attribute }}_nutriscore" value="{{ nutriscore }}" />
    </fieldset>
</div>
<div class="row">
    <fieldset class="col-md-4 form-group">
        <label class="form-control-label" for="combination_{{ id_product_attribute }}_yuka">
            {{ 'Yuka socre'|trans }}
        </label>

        <input type="text" class="form-control" name="combination_{{ id_product_attribute }}[yuka]" id="combination_{{ id_product_attribute }}_yuka" value="{{ yuka }}" />
    </fieldset>
</div>

